* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100hv;
    background-color: aliceblue;
    background-image: radial-gradient(at 10% 10%, hsla(22, 70%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 70% 10%, hsla(59, 78%, 73%, 0.7) 0px, transparent 70%),
    radial-gradient(at 50% 70%, hsla(191, 57%, 60%, 0.7) 0px, transparent 100%);
}

.row {
    height: calc(100vh - 40px);
}


#bar {
    margin-left: 20px;
}

#command {
    background-color: hsla(0, 0%, 100%, 0.5);
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

#remote-div {
    background-color: hsla(360, 0%, 100%, 0.5);
    border-radius: 30px;
    height: 300px;
}

#local-a-div {
    background-color: hsla(360, 0%, 100%, 0.5);
    border-radius: 30px;
    height: 300px;
}

#local-b-div {
    background-color: hsla(360, 0%, 100%, 0.5);
    border-radius: 30px;
    height: 300px;
    display: none;
}

.displayOff{
    display: none;
}

#suggestion {
    margin-top: 10px;
    border-radius: 20px;
    background-color: hsla(360, 0%, 100%, 0.5);
    height: 150px;
    padding: 10px;
}

#record {
    border-radius: 20px;
    margin-top: 10px;
    background-color: hsla(360, 0%, 100%, 0.5);
    height: 420px;
}

#command-input {
    margin-top: 10px;
    height: 30px;
    width: 100%;
    border: 0;
    border-radius: 20px;
    text-indent: 10px;
}

#reset-button {
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: hsla(360, 0%, 100%, 0.7);
}

#switch-to-a, #switch-to-b{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: hsla(360, 0%, 100%, 0.7);
}

#switch-to-a:hover, #switch-to-b:hover {
    background-color: hsla(360, 0%, 80%, 0.7);
}

#clone-local-a-button, #clone-local-b-button{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    background-color: hsla(360, 0%, 100%, 0.7);
}

#clone-local-a-button:hover, #clone-local-b-button:hover{
    background-color: hsla(360, 0%, 80%, 0.7);
}

#local-a-diagram, #local-b-diagram{
    height: 200px;
    overflow: scroll;
}
